@import "tailwindcss";

:root{
  --bg:#140D08;
  --card:#24170F;
  --gold:#D4AF37;
  --cream:#F8F3E9;
}

body{
  background:
  radial-gradient(circle at top,#3d2818 0%,#140D08 55%);
  color:var(--cream);
  font-family:var(--font-body);
  min-height:100vh;
}

h1,h2,h3,h4{
  font-family:var(--font-heading);
}

button{
  cursor:pointer;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background:#5c3b20;
  border-radius:20px;
}
input,
textarea,
select {
  background: white;
  color: black;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 9999s ease-in-out 0s;
}